<?xml version="1.0"?>
<config>
	<modules>
		<Wsu_SampleImport>
			<version>0.1.0</version>
		</Wsu_sampleimport>
	</modules>
	<global>
		<helpers>
			<wsu_sampleimport>
				<class>Wsu_SampleImport_Helper</class>
			</wsu_sampleimport>
		</helpers>
		<ho_import>
			<!-- where a profile lives -->
			<one_time_all_stock>
				<entity_type>catalog_product</entity_type>
				<!--<schedule><cron_expr>0 2 * * *</cron_expr></schedule>-->
				<source model="ho_import/source_adapter_xml">
					<file>/var/import/products.xml</file>
					<rootNode>products</rootNode>
				</source>
				<import_options>
					<continue_after_errors>1</continue_after_errors>
					<!--<ignore_duplicates>1</ignore_duplicates>-->
					<partial_indexing>1</partial_indexing>
				</import_options>
				<events>
					<!--<source_row_fieldmap_before/>-->
					<!--<source_row_fieldmap_after/>-->
					<!--<import_before/>-->
					<!--<import_after/>-->
				</events>
			</one_time_all_stock>
		</ho_import>
	</global>
</config>
